* {
	margin: 0;
	padding: 0;
}

.navbar {
border: none;
background-color: gray;
margin: 0 0 0 0;
}

.container {
	background-color: gray;
}


.text-center {
	font-size: 30px;
	margin-top: -30px;
	margin-bottom: 30px;
}

h2 {
	text-align: center;
}

.navbar-brand {
font-size: 30px;
margin: 0 40px;
font-weight: 600;
}

.nav-link {
	text-align: center;
	color: black;
}

.nav-item {
	background-color: white;
	border: solid black 1px;
}

#main-content {
	font-weight: 600;
	font-size: 20px;
}

.navbar-toggler {
	margin: 0 20px;
}

